.user-card {
  background-color: $color-white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;

  @include responsive(md) {
    border-radius: 12px;
  }

  @extend .regular-text;
  &__avatar {
    border-radius: 50%;
    width: 70px;
    margin-bottom: 20px;
  }
  &__name {
    margin-bottom: 20px;
  }
  &__position {
  }

  &__email {
    @extend .regular-link;
  }

  &__phone {
    @extend .regular-link;
  }
}
