.first-section {
  background-image: url("/src/assets/images/field.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;

  justify-content: center;

  height: 650px;
  @include responsive(lg) {
    height: 500px;
  }
  &__content {
    padding-top: 164px;
    display: flex;
    flex-direction: column;

    align-items: center;
    max-width: 380px;
    text-align: center;
    @include responsive(lg) {
      padding-top: 89px;
    }
    @include responsive(md) {
      padding: 40px 20px 0;
    }
  }

  &__title {
    color: $color-white;
    font-size: $font-size-title;
    margin-bottom: 21px;
  }

  &__subtitle {
    color: $color-white;
    font-size: $font-size-default;
    line-height: 26px;
  }
  &__button {
    margin-top: 32px;
    padding: 7.5px 23px;
  }
}
