.form-section {
  padding-top: 99px;
  padding-bottom: 100px;
  &__title {
    font-size: $font-size-title;
    color: $color-black;
    text-align: center;
    margin-bottom: 50px;
    padding: 0 20px;
  }

  &__form {
    max-width: 380px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
    @include responsive(md) {
      padding: 0 16px;
    }
  }
  &__error {
    @extend .regular-text;
    color: $color-error;
  }
  &__button {
    padding: 7px 23px;
  }
  &__success-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__input {
    width: 100%;
    &--radio {
      margin-top: -11px;
    }
    &--file {
      margin-top: 17px;
    }
  }
  &__label {
    margin-bottom: 10px;
    display: inline-block;
    @extend .regular-text;
  }
}
